extends ../../layouts/layout.pug

block title
  h1.text-center
    | Verplaatsing aangevraagd

block content
  p.text-center
    p
      | Beste #{ captain },
      br
      br
      | Wij willen u graag informeren dat te wijziging van aankomende ontmoeting tussen #{ encounter.home.name } en #{ encounter.away.name } is aangevraagd.
    p
      if isHome
        a(
          href=`${clientUrl}/competition/change-encounter?club=${encounter.home.clubId}&team=${encounter.home.id}&encounter=${encounter.id}&season=${season}`
        )
          | Klik hier om het verzoek te bekijken
      else
        a(
          href=`${clientUrl}/competition/change-encounter?club=${encounter.away.clubId}&team=${encounter.away.id}&encounter=${encounter.id}&season=${season}`
        )
          | Klik hier om het verzoek te bekijken

    br
    br
    | Met vriendelijke groet,
    br
    | Badman
