mixin header(captain, event, date, homeTeam, awayTeam, isHomeTeam, teamIndex, baseIndex)
  header
    //- Top row
    .flex.items-center
      div(class="w-3/12")
        h3.text-l.font-small
          |
          | Ploegkapitein:
          span.text-xl.font-medium #{ captain }
      .text-center(class="w-6/12")
        h2.text-xl.font-medium
          span(class={ underline: isHomeTeam }) #{ homeTeam }
          span.px-2 vs
          span(class={ underline: !isHomeTeam }) #{ awayTeam }
      .text-right(class="w-3/12")
        h3.font-medium
          |
          | Titularissen:
          span.text-xl #{ teamIndex }

    //- Bottom row
    .flex.items-center
      div(class="w-1/3")
        h3.font-medium #{ event }
      .text-center(class="w-1/3")
        h3.font-medium #{ date }
      .text-right(class="w-1/3")
        h3.font-medium
          |
          | Basisspelers:
          span.text-xl #{ baseIndex }
