extends ../../layouts/layout.pug

block title
  h1.text-center
    | Event #{ event.name } sync

block content
  p.text-center
    p
      | Beste #{ user }, 
      br
      br
      |
      | Volgende wedstrijden zijn not niet verplaatst:
      each encounter in encounters
        p
          a(
            href=`${clientUrl}/competition/change-encounter?club=${encounter.away.clubId}&team=${encounter.away.id}&encounter=${encounter.id}&season=${season}`
          )
            | #{ encounter.home.name } vs #{ encounter.away.name } op #{ moment(encounter.date).tz('Europe/Brussels').format('LL') }
      br

      if validation.length > 0
      | Volgende wedstrijden hebben een fout(en):
        each val in validation
          if val.errors.length > 0
            p
              | #{ val.encounter.home.name } vs #{ val.encounter.away.name } op #{ moment(val.encounter.date).tz('Europe/Brussels').format('LL') }
            ul(style="color: red")
              each error in val.errors
                li
                  | #{ error }
    p
      | Met sportieve groeten,
      br
      |
      | Badman
