<p>Beste {{captain.fullName}}</p>

<p>
  De verplaatsing aanvraag voor de wedstrijd op {{date}} tegen {{otherTeam.name}} is aangevraagd
</p>

<p>
  <a href="{{clientUrl}}/competition/change-encounter?club={{otherTeam.clubId}}&team={{otherTeam.id}}&encounter={{encounter.id}}">
      Ga naar aanvraag
    </a>
</p>