<p>Beste {{captain}}, <br/>
  <br/>
  De wedstrijd {{encounter.home.name}} - {{encounter.away.name}} op {{date}} is nog niet geacpteerd. <br/>
</p>

<p>
  <a href="{{url}}">
      Ga naar wedstrijd
    </a>
</p>

<p>
  Met sportieve groeten, <br />
  Badman
</p>

<p>
  Disclaimer:
  <br />
  Deze notificatie is nog in beta. Mocht je vragen of opmerkingen hebben, laat het ons weten via <a href='mailto:info@badmintonvlaanderen.be'>badmintonvlaanderen</a>
</p>