<p>Beste {{captain}}, <br/>
  <br/>
  De wedstrijd {{encounter.home.name}} - {{encounter.away.name}} op {{date}} is nog niet ingevuld. <br/>
</p>

<p>
  <a href="{{url}}">
      Ga naar wedstrijd
    </a>
</p>