extends ../../layouts/layout.pug

block title
  h1.text-center
    | Ontmoeting nog niet geaccepteerd

block content
  p.text-center
    p
      | Beste #{ captain }, 
      br
      br
      |
      | De ontmoeting 
      strong #{ encounter.home.name } 
      | tegen 
      strong #{ encounter.away.name } 
      | op 
      strong #{ date } 
      | is nog niet geaccepteerd.
      br
    p
      a(href=`${url}`)
        | Ga naar ontmoeting
    p
      | Met sportieve groeten,
      br
      |
      | Badman