extends ../../layouts/layout.pug

block title
  h1.text-center
    | Club ingeschreven

block content
  p.text-center
    p Beste competitieverantwoordelijke,
      br
      br
      | Onderstaande ploegen werden ingeschreven voor het volgende competitieseizoen #{ years }.
      | Zolang je deze niet meer wijzigt, blijft de inschrijving exact zoals hieronder behouden.
      | Wil je toch nog uitschrijven? Contacteer dan:
      a(href='mailto:info@badmintonvlaanderen.be') info@badmintonvlaanderen.be.
      br
      br
      | Bedankt en tot volgend seizoen!

    h2 Teams
    if club && club.teams && club.teams.length
      table
        each team in club.teams
          tr
            td(style='padding-top: 12px', valign='top')
              div(yle='font-size:16px;width:100%')
                p
                  //- (#{ team.abbreviation })
                  strong Team:
                  | #{ " " }#{ team.name }
                  br
                  strong Afdeling:
                  if team && team.entry && team.entry.subEventCompetition && team.entry.subEventCompetition.eventCompetition && team.entry.subEventCompetition.name
                    | #{ " " }#{ team.entry.subEventCompetition.eventCompetition.name } - #{ team.entry.subEventCompetition.name }
                  else
                    strong(style='color: red') Geen afdeling gekozen
                  br
                  strong Kapitein:
                  if team.captain
                    | #{ " " }#{ team.captain.firstName }#{ " " }#{ team.captain.lastName } (#{ team.email }, #{ team.phone })
                  else
                    strong(style='color: red') Kapitein niet ingevuld.
                  br
                  strong Basisspelers:
                  ul
                  each player in team.entry.meta.competition.players
                    li #{ player.firstName }#{ " " }#{ player.lastName }
                      small #{ " " }(#{ player.memberId })
                        if team.type == 'MX'
                          | #{ " " }#{ player.single } - #{ player.double } - #{ player.mix }
                        else
                          | #{ " " }#{ player.single } - #{ player.double }
    else
      p Er werden geen ploegen ingeschreven.

    h2 Locaties
    if locations && locations.length
      table
        each location in locations
          tr
            td(style='padding-top: 12px', valign='top')
              div(style='font-size: 16px; width: 100%')
                p
                  h4 #{ location.name }
                  each availability in location.availabilities
                    if availability.days.length
                      p
                        strong Speelmomenten:
                        ul
                          each day in availability.days
                            if day.day && day.startTime && day.endTime && day.courts
                              li #{ translate('all.days.' + day.day) }, #{ day.startTime } - #{ day.endTime }: #{ day.courts } velden
                    else
                      p
                        strong Geen speelmomenten
                    if availability.exceptions.length
                      p
                        strong Uitzonderingen:
                        ul
                          each exception in availability.exceptions
                            if exception.start && exception.end
                              if exception.start == exception.end
                                li #{ moment(exception.start).format('LL') }: #{ exception.courts } velden
                              else
                                li #{ moment(exception.start).format('LL') } - #{ moment(exception.end).format('LL') }: #{ exception.courts } velden
                    else
                      p
                        strong Geen uitzonderingen
    else
      p Er werden geen locaties ingevuld.

    h2 Comments
    if comments && comments.length
      table
        each comment in comments
          tr
            td(style='padding-top: 12px', valign='top')
              div(style='font-size: 16px; width: 100%')
                p
                  strong Reeks: #{ comment.competition.name }
                  br
                  strong Wie: #{ comment.player.firstName }, #{ comment.player.lastName }
                  if comment.player.memberId
                    | (#{ comment.player.memberId })
                  br
                  strong Bericht:
                  br
                  span(style='white-space: pre-wrap') #{ comment.message }
    else
      p Er werden geen opmerkingen ingevuld.
