extends ../../layouts/layout.pug

block title
  h1.text-center
    | Ontmoeting nog niet ingevuld

block content
  p.text-center
    p
      | Beste #{ captain }, 
      br
      br
      |
      | De ontmoeting 
      strong #{ encounter.home.name } 
      | tegen 
      strong #{ encounter.away.name } 
      | op 
      strong #{ date } 
      | is nog niet ingevuld.
      br
    p
      a(href=`${url}`)
        | Ga naar ontmoeting
    p
      | Met sportieve groeten,
      br
      |
      | Badman
    p
      | Disclaimer:
      br
      |
      | Deze notificatie is nog in beta. Mocht je vragen of opmerkingen hebben, laat het ons weten via
      a(href="mailto:info@badmintonvlaanderen.be") badmintonvlaanderen
